body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

.app-header {
  background-color: #5BBCAF;
  height: 60px;
  padding: 10px 0 30px 0;
}

nav ul {
  width: 400px;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  width: 100px;
  text-align: center;
  display: inline-block;
}

.post {
  width: 600px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #D9EBE6;
}

.post-author {
  font-size: .9em;
}

.post-date {
  font-size: .8em;
  color: #14939E;
}

.post-comments-container {
  background-color: #ECFFFB;
}

.post-comments {
  margin-left: 20px;
}
