body {
  color: #161621;
}

a:hover {
  color: #d65afc;
}

button:hover {
  background-color: #d65afc;
  border-color: #d65afc;
}

h1, h2, h3 {
  text-align: center;
}

.app-header {
  padding: 10px 0 0 0;
}

nav {
  text-align: center;
}

nav ul li {
  width: 75px;
  display: inline-block;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

button {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.new-post-link {
  text-align: center;
}

.post {
  max-width: 600px;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #eee7fd;
}

.post-score {
  display: inline-block;
  margin: 5px 10px 10px 0;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #FFF;
}

.vote-buttons {
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.post-title {
  display: inline;
  text-align: left;
}

.post-author {
  font-size: .9em;
}

.post-date {
  font-size: .8em;
  color: #c99acf;
}

.post-comments-container {
  background-color: #eeedff;
}

.post-comments {
  margin-left: 20px;
}

.new-post-form {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #eee7fd;
}

.new-post-form *,
.edit-post-form * {
  width: 100%;
  margin: 10px 0;
}

.comment-form * {
  width: 100%;
}
.comment-form {
  padding: 10px 20px;
}
