body {
  color: #161621;
}

a {
  transition: color 0.15s;
}

a:hover {
  color: #d65afc;
}

a:focus,
a:active {
  color: #d65afc;
}

button:hover {
  background-color: #d65afc;
  border-color: #d65afc;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

nav {
  text-align: center;
}

nav ul li {
  width: 75px;
  display: inline-block;
}

.active-nav-link {
  color: #d65afc;
  text-decoration: underline;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

button {
  margin-right: 10px;
  transition: background-color 0.15s;
}

.secondary-button {
  background-color: #fc6a7e;
  border-color: #fc6a7e;
}

.secondary-button:hover {
  background-color: #fc4383;
  border-color: #fc4383;
}

.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.text-center {
  text-align: center;
}

.comments-container {
  margin-top: 20px;
}

.comment-list-header-button {
  text-align: center;
}

.new-post-form,
.edit-post-form {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #eee7fd;
}

.new-comment-form {
  margin: 20px 20px 20px 80px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #eee7fd;
}

.edit-post-form-container {
  margin: 20px 0 0 60px;
}

.new-post-form *,
.edit-post-form * {
  width: 100%;
  margin: 10px 0;
}
textarea,
select,
input[type="text"] {
  background-color: #fff;
}

.new-comment-form * {
  width: 100%;
}
